.profile_picture{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;    
    border: 5px solid white;
    margin: 50px auto 10px;
    display: inline-block;
}
.pfp{
    position: relative;
    width: 100%;
    text-align: center
}
.header{
    background-color: #40927b;
    ;
    padding:0;
    margin:0;
    position:relative;
}
body{
    background-color: #CAE7DF;
    font-family: sans-serif;
    margin:0;
}
 .topnav a{
     display:inline-block;
     width:15%;
     color:whitesmoke
     
 } 
 .topnav{
     background-color: #144235;
     text-align: center;
 }
.about_me{
    font-size: 15px;
    padding-bottom: 10px;
}
.row{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    font-size: 16px;
    line-height: 1.6;
}
.skills{
    margin: 100px;
}
.skills2{
    margin: 100px;
}
.skills3{
    margin: 110px 100px -9px 100px;
}

.skills_heading{
    font:bold;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    margin: 10px 0px 20px;
    color: whitesmoke;
    opacity: 95%;
    font-size: 42px;
}   
h2{
    text-align: center;
    font-style: italic;
    opacity:80%;
}
.hobbies{
    font:bold;
}
p{
    text-align: center;
}
.html{
    border:2px solid #717171;
    width:300px;
    background-image: linear-gradient(aliceblue, #D3D3D3);
    line-height: 1.6;
    font-size:16px;
}
.html span{
    
}
.css_skills{
    width:300px;
    border:2px solid #717171;
    background-image: linear-gradient(aliceblue, #D3D3D3);
    line-height: 1.6;
    font-size:16px;
}
.javascript{
border:2px solid #717171;
width:300px;
background-image: linear-gradient(aliceblue, #D3D3D3);

}
footer a{
    display:inline-block;
    width:25%;
}
    footer{
    text-align: center;
    background-color: #717171;
    padding:15px;
    transition: color 0.2s;
    color: #40927b;
   
}
footer :hover{
    color:white;
}

.row .material-icons{
   font-size:100px;
   margin-left:auto;
}
.fa-computer:before {
    content: "\e4e5";
    position: absolute;
    margin-left: 17px;
}
.fa-brush:before {
    content: "\f55d";
    position: absolute;
    margin-left: 19px;
}
.fa-scroll:before {
    content: "\f70e";
    position: absolute;
    margin-left: 16px;
    margin-top: -1px;
}
/*-- slideshow coding --*/
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  box-sizing:border-box;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* End Slideshow Coding */